{% extends 'base.html' %}
{% block content %}
    <h1>Lista produktów:</h1>
    <p>{{products}}</p>

    {% for product in products %}
    <ul><div>
        <h3><a href="{{ url_for('product', product_id=product.product_id) }}">{{ product.product_name }}</a></h3>
        </div>
    </ul>
    {% endfor %}


    {% if error is defined %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong> <i class="bi bi-exclamation-diamond-fill"></i>Uawga!</strong>{{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    
{% endblock %}